/* CSS Stylesheet for the COMP249 Jobs Board */
/* Author: Your Name                     */

html {
    background-color: #00ff00;
    color: #ff0000;
    font-family: sans-serif;
}

.job {
    width: 300px;
    margin: auto;
    border: 10px solid pink;
}
.jobtitle {
    text-decoration: green wavy underline;
}